//PAULINE OSMOND STYLES

//VARIABLES, MIXINS, ETC

@color1: rgb(189,189,189);
@color2: rgb(205,181,134);
@color3: rgb(205,205,205);
@footer-text: rgb(146,146,146);
@footer: rgb(34,34,34);


// GLOBAL CLASSES

.row-no-margin {
 margin-left: 0px;
 margin-right: 0px;
} 

.col-40 {
  width: 40%;
  padding: 0 10%;
}

.pad-left-10 {
  padding-left: 10%;
}

.pad-left-5 {
  padding-left: 5%;
}

.pad-right-10 {
  padding-left: 10%;
}

.pad-right-5 {
  padding-left: 5%;
}

//GLOBAL STYLES

* {
  outline: 1px dashed red;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
//  opacity: 1;
  
  .ng-scope {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.container-fluid, wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-nav {
  position: fixed;
  top: 0%;
}

//HOME STYLES
.bg-intro {
  position: fixed;
  width: 100%;
  height: 800px;
  background-image: url(../images/bg_intro.jpg) ;
  background-size: cover;
  top: 0;
//  z-index: 0;
}

.home-header {
  margin-top: 3%;
  color: @color1;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  display: block;
  margin: 1% auto;
  width: 35%;
  height: auto;
}

.visible {
  position: fixed;
  top: 55%;
  left: 33%;
  right: 33%;
  height: 15%;
  display: inline-flex;
  align-content:space-between;
//  background-color: red;
  
  .menu {
    width: 100%;
    
    .menuhome {
      width: 25%;
    }

    .menuabout {
      width: 25%;
    }

    .menublog {
      width: 25%;
    }

    .menucontact {
      width: 25%;
    }
    
    .number {
      border-bottom: 3px solid @color2;
      color: @color2;
      font-family: cursive;
      font-size: 4em;  
      margin: 0 5% 8% 5%;
      opacity: 0.5;
      text-align: right;
    //  transition
    }

    .label {
      color: @color3;
      font-family: sans-serif;
      font-size: 1.25em;
      font-weight: 400;
      opacity: 0.5;    
      text-align: left;
      text-transform: uppercase;
    //  transition
      
      a {
        color: @color3;
        margin-top: 20px;
        text-decoration: none;
      }
    }
  }
}


// WORKS STYLES

.bg-works {
//  position: fixed;
  width: 80%;
  height: 800px;
  background-image: url(../images/artspire.jpg) ;
  background-size: cover;
  background-attachment: fixed;
//  background-repeat: no-repeat;
//  top: 0;
//  background-color: red;
}

.works-container {
  padding: 5% 10%;
  
  .row {
    margin-right: 5%;
    margin-left: 5%;
    
    .col-md-4, col-md-5, .col-md-6, .col-md-7, col-md-8 {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  .img1 {
    background-image: url(../images/maram.jpg);
    background-size: cover;
    height: 300px;
  }
  .img2 {
    background-image: url(../images/zooecomuseum.jpg);
    background-size: cover;
    height: 300px;
  }
  .img3 {
    background-image: url(../images/cgi.jpg);
    background-size: cover;
    height: 300px;
  }
  .img4 {
    background-image: url(../images/antoinelestage.jpg);
    background-size: cover;
    height: 300px;
  }
  .img5 {
    background-image: url(../images/tokkun.jpg);
    background-size: cover;
    height: 300px;
  }
  .img6 {
    background-image: url(../images/soulofthedeadtree.jpg);
    background-size: cover;
    height: 300px;
  }
  .img7 {
    background-image: url(../images/pmmt.jpg);
    background-size: cover;
    height: 300px;
  }
  .img8 {
    background-image: url(../images/dixon.jpg);
    background-size: cover;
    height: 300px;
  }
  .img9 {
    background-image: url(../images/artspire.jpg);
    background-size: cover;
    height: 300px;
  }
  .img10 {
    background-image: url(../images/depevt.jpg);
    background-size: cover;
    height: 300px;
  }
  .img11 {
    background-image: url(../images/lerecyclagepasapas.jpg);
    background-size: cover;
    height: 300px;
  }
  .img12 {
    background-image: url(../images/inlogia.jpg);
    background-size: cover;
    height: 300px;
  }
  .img13 {
    background-image: url(../images/witchatt.jpg);
    background-size: cover;
    height: 300px;
  }
  .img14 {
    background-image: url(../images/antro.jpg);
    background-size: cover;
    height: 300px;
  }
  .img15 {
    background-image: url(../images/origami.jpg);
    background-size: cover;
    height: 300px;
  }
  .img16 {
    background-image: url(../images/legrandbal.jpg);
    background-size: cover;
    height: 300px;
  }
}

//ABOUT STYLES

.img-bg {
  width: 100%;
  background-color: white;
  padding: 5%;
  
  .about-header-img {
   background-image: url(../images/fond_about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }
}


//CONTACT STYLES




// FOOTER STYLES

// TODO - install bootstrap and change .row margin-left and margin-right to 0

footer {
  background-color: @footer;
  color: @footer-text;
  font-size: 0.9em;
//  margin-top: 10%;
  padding: 2%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
  ul {
    width: 60%;
    li {
      list-style: none;
      line-height: 1.5em;
      
      a {
        color: @color3;
        text-decoration: none;
        font-size: 0.9em;
        
        &:focus {
          color: @color3;
          text-decoration: none;
        }
        
        &:hover {
          color: @color3;
          text-decoration: none;
        }
      }     
    }      
  }
  .footer-head {
    color: @color3;
    font-family: serif;
    font-size: 2em;
    padding-bottom: 2%;
  }
}





// MEDIA QUERIES


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
//@media (min-width: @screen-sm-min) { 
//
//}
//
///* Medium devices (desktops, 992px and up) */
//@media (min-width: @screen-md-min) { 
//
//}
//
///* Large devices (large desktops, 1200px and up) */
//@media (min-width: @screen-lg-min) { 
//
//}


// We occasionally expand on these media queries to include a max-width to limit CSS to a narrower set of devices.
//@media (max-width: @screen-xs-max) { 
//
//}
//
//@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
//
//}
//
//@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
//
//}
//
//@media (min-width: @screen-lg-min) { 
//
//}