<div class="wrapper">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="img-bg">
          <div class="about-header-img"></div>
        </div>        
        about
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="about-img1">
          image bg
        </div>
        <div class="overlay-img1">
          overlay
        </div>
        <div class="text-img1">
          <h1>HEADER</h1>
          <p>text</p>
          <ul>
            <li class="start-date">start</li>
            <li class="end-date">end</li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="about-img1">
          image bg
        </div>
        <div class="overlay-img1">
          overlay
        </div>
        <div class="text-img1">
          <h1>HEADER</h1>
          <p>text</p>
          <ul>
            <li class="start-date">start</li>
            <li class="end-date">end</li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="about-img1">
          image bg
        </div>
        <div class="overlay-img1">
          overlay
        </div>
        <div class="text-img1">
          <h1>HEADER</h1>
          <p>text</p>
          <ul>
            <li class="start-date">start</li>
            <li class="end-date">end</li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="about-img1">
          image bg
        </div>
        <div class="overlay-img1">
          overlay
        </div>
        <div class="text-img1">
          <h1>HEADER</h1>
          <p>text</p>
          <ul>
            <li class="start-date">start</li>
            <li class="end-date">end</li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>