<div class="wrapper">
<!--  <div class="">-->
    
    <div class="row">
      <div class="col-md-12">
        <nav class="header-white2" role="navigation">
          <ul class="menu menuworks">
            <li class="number">01</li>
            <li class="label"><a ui-sref="works">Works</a></li>
          </ul>
          <ul class="menu menuabout">
            <li class="number">02</li>
            <li class="label"><a ui-sref="about">About</a></li>
          </ul>
          <ul class="menu logo">
            <li class="logo-circle">
              <a ui-sref="home">
                <img src="images/logo_small.png" alt="Pauline Osmont" />
              </a>
            </li>
          </ul>
          <ul class="menu menublog">
            <li class="number">03</li>     
            <li class="label"><a href="http://www.art-spire.com/">Blog</a></li>
          </ul>
          <ul class="menu menucontact">
            <li class="number">04</li>
            <li class="label"><a ui-sref="contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 about">
        <div class="img-bg">
          <div class="about-hero">
            <img src="images/fond_about.jpg" alt="About Pauline Osmont">
          </div>
        </div>    
        <span class="a">A</span>
        <span class="b">B</span>
        <span class="o">O</span>
        <span class="u">U</span>
        <span class="t">T</span>
        <span class="underscore xs-hidden"></span>
        <p class="about-text">Hi, I’m Pauline Osmont a French art director and illustrator. I’ve worked in several places around the world and 
        <span class="about-emphasis">I’m now looking for a new job adventure in Lyon, France.</span>
        </p>
      </div>
    </div>
    
    <div class="container-fluid about-squares">
      <div class="row">
        <div class="col-md-6 col-no-padding-r">
          <div class="location-img1 "></div>
          <div class="overlay-img1"></div>
          <div class="text-img1">
            <h1 class="short-name">lyon</h1>
            <p class="job">available for hiring</p>
            <ul class="dates">
              <li class="start-date1">2015</li>
              <li class="end-date1">FUTURE</li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-no-padding-l margin-left-768">
          <div class="location-img2"></div>
          <div class="overlay-img2"></div>
          <div class="text-img1">
            <h1 class="short-name">montreal</h1>
            <p class="job">art director at antro</p>
            <ul class="dates">
              <li class="start-date2">2013</li>
              <li class="end-date2">2015</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-no-padding-r">
          <div class="location-img3"></div>
          <div class="overlay-img3"></div>
          <div class="text-img1">
            <h1 class="short-name">paris</h1>
            <p class="job">freelance art <br />
              director / illustrator</p>
            <ul class="dates">
              <li class="start-date1">2011</li>
              <li class="end-date2">2013</li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-no-padding-l margin-left-768">
          <div class="location-img4"></div>
          <div class="overlay-img4"></div>
          <div class="text-img1">
            <h1 class="long-name">sunderland</h1>
            <p class="job">intern graphic designer</p>
            <ul class="dates">
              <li class="start-date2">2011</li>
              <li class="end-date2">2011</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
<!--  </div>-->
</div>
