<div class="wrapper">
<div class="row">
    <div class="col-md-12">
      <nav class="header-white2" role="navigation">
        <ul class="menu menuworks">
          <li class="number">01</li>
          <li class="label"><a ui-sref="works">Works</a></li>
        </ul>
        <ul class="menu menuabout">
          <li class="number">02</li>
          <li class="label"><a ui-sref="about">About</a></li>
        </ul>
        <ul class="menu logo">
          <li class="logo-circle">
            <a ui-sref="home">
              <img src="images/logo_small.png" alt="Pauline Osmont" />
            </a>
          </li>
        </ul>
        <ul class="menu menublog">
          <li class="number">03</li>     
          <li class="label"><a href="http://www.art-spire.com/">Blog</a></li>
        </ul>
        <ul class="menu menucontact">
          <li class="number">04</li>
          <li class="label"><a ui-sref="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 about">
      <div class="img-bg">
        <div class="about-hero">
          <img src="images/fond_contact.jpg" alt="Contact Pauline Osmont">
        </div>
      </div>    
      <span class="contactC">C</span>
      <span class="contactO">O</span>
      <span class="contactN">N</span>
      <span class="contactT">T</span>
      <span class="contactA">A</span>
      <span class="contactC2">C</span>
      <span class="contactT2">T</span>
      <span class="contactM">M</span>
      <span class="contactE">E</span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 contact-left">
      <label class="legend1">Your Name</label>
      <input class="input1" name="name" id="name" type="text" value placeholder="Name / Surname">
      <label class="legend2">Your Email</label>
      <input class="input2" name="email" id="email" type="email" value placeholder="Your email">
      <label class="legend3">Subject</label>
      <input class="input3" name="subject" id="subject" type="text" value placeholder="Subject">
      <label class="legend4">Antispam  : 10, 20, 30, 40, ?</label>
      <input class="input4" name="antispam" id="antispam" type="text" value placeholder="Complete the numbers series">
    </div>
    
    <div class="col-md-6 contact-right">
      <label class="legend5">Your Message</label>
      <textarea class="input5" name="message" id="message" cols="20" rows="8"></textarea>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
       <input  class="submit-btn"type="submit" value="Send the Message">
    </div>
  </div>
  
  <div class="row social-row">
    <div class="col-md-12 social">
        <a href="http://www.linkedin.com/in/paulineosmont" class="linkedin" title="Pauline Osmont on LinkedIn"></a>
        <a href="http://society6.com/gunelle" class="society6" title="Pauline Osmont on Society6"></a>
        <a href="https://www.behance.net/paulineosmont" class="behance" title="Pauline Osmont on Behance"></a>
        <a href="http://pinterest.com/paulineosmont/" class="pinterest" title="Pauline Osmont on Pinterest"></a>
    </div>
  </div>
  
</div>
