<div class="wrapper">
  <div class="bg-intro">
    <div class="row">
      <div class="col-md-12">
        <p class="home-header">Art Director | Illustrator</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="logo" src="images/logo.png" alt="Pauline Osmont Logo" />
      </div>
    </div>
   </div>
    <div class="row">
      <div class="col-md-12">
        <nav class="visible" role="navigation">
          <ul class="menu menuworks">
            <li class="number">01</li>
            <li class="label"><a ui-sref="works">Works</a></li>
          </ul>
          <ul class="menu menuabout">
            <li class="number">02</li>
            <li class="label"><a ui-sref="about">About</a></li>
          </ul>
          <ul class="menu menublog">
            <li class="number">03</li>     
            <li class="label"><a href="http://www.art-spire.com/">Blog</a></li>
          </ul>
          <ul class="menu menucontact">
            <li class="number">04</li>
            <li class="label"><a ui-sref="contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>  
  
  <footer class="row row-no-margin">
   <div class="col-md-6 col-sm-6">
     <ul class="pad-left-10">
       <li class="footer-head">Status</li>
       <li>I'm currently looking for a full-time job in Lyon, France.</li>
       <li><a ui-sref="contact" title="contact">Contact me</a></li>
     </ul>
   </div>
   <div class="col-md-6 col-sm-6">
     <ul class="">
       <li class="footer-head">Oh and by the way...</li>
       <li>&copy; All rights resersved Pauline Osmont. </li>
       <li>Brands mentioned above are property of their respective owner.</li>
       <li>Coded by <a href="" title="Nicolas Tarier">Nicolas Tarier</a></li>
     </ul>
   </div>
 </footer>
  
</div>

