<div class="wrapper">
  <div class="bg-intro">
    <div class="row">
      <div class="col-md-12">
        <p class="home-header">Art Director | Illustrator</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="logo" src="../../images/logo.png" alt="Pauline Osmont Logo" />
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <nav class="visible" role="navigation">
          <div class="menu menuabout">
            <span class="number">01</span>
            <span class="label"><a ui-sref="about">About</a></span>
          </div>
          <div class="menu menublog">
            <span class="number">02</span>
            <span class="label"><a href="http://www.art-spire.com/">Blog</a></span>
          </div>
          <div class="menu menucontact">
            <span class="number">03</span>
            <span class="label"><a ui-sref="contact">Contact</a></span>
          </div>
        </nav>
      </div>
    </div>  
</div>

