<div class="wrapper bg-works">
  
  <div class="row">
      <div class="col-md-12">
        <nav class="header-white2" role="navigation">
          <ul class="menu menuworks">
            <li class="number">01</li>
            <li class="label"><a ui-sref="works">Works</a></li>
          </ul>
          <ul class="menu menuabout">
            <li class="number">02</li>
            <li class="label"><a ui-sref="about">About</a></li>
          </ul>
          <ul class="menu logo">
            <li class="logo-circle">
              <a ui-sref="home">
                <img src="images/logo_small.png" alt="Pauline Osmont" />
              </a>
            </li>
          </ul>
          <ul class="menu menublog">
            <li class="number">03</li>     
            <li class="label"><a href="http://www.art-spire.com/">Blog</a></li>
          </ul>
          <ul class="menu menucontact">
            <li class="number">04</li>
            <li class="label"><a ui-sref="contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  
  <div class="container-fluid works-container">
    
    
    
      <div class="row">
        <div class="col-md-6 img1">
          <a href="" title="">
          </a>
        </div>
        <div class="col-md-6 img2">
          <a href="" title="">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 img3">
          <a href="" title="">
          </a>
        </div>
        <div class="col-md-5 img4">
          <a href="" title="">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 img5">
          <a href="" title="">
          </a>
        </div>
        <div class="col-md-8 img6">
          <a href="" title="">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 img7">
          <a href="" title="">
          </a>
        </div>
        <div class="col-md-6 img8">
          <a href="" title="">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 img9">
          <a href="" title="">
          </a>
        </div>
        <div class="col-md-5 img10">
          <a href="" title="">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 img11">
          <a href="" title="">
          </a>
        </div>
        <div class="col-md-8 img12">
          <a href="" title="">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 img13">
          <a href="" title="">
          </a>
        </div>
        <div class="col-md-6 img14">
          <a href="" title="">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 img15">
          <a href="" title="">
          </a>
        </div>
        <div class="col-md-5 img16">
          <a href="" title="">
          </a>
        </div>
      </div>
    
  </div>
</div>
